extends ./base.pug
block content
  .alert.alert-success
    p 
      strong Dodano! &nbsp;
      | Wyznanie pojawi się na hejto w dziale dyskusji po zaakceptowaniu. Na Hejto łatwo będziesz mógl je znaleźć pod tagiem 
      a(href=`http://hejto.pl/tag/${confession._id}` target="_blank")  ##{confession._id}
    br
    | Kod autoryzacji: <strong>#{confession.auth}</strong> (dzięki niemu będziesz mogł odpowiadać w swoim wpisie jako OP, będzie także wymagany w razie gdybyś zechciał usunąć wyznanie).
    b  Pamiętaj kod jest tajny, udostępnienie go spowoduje że każdy będzie mógł odpowiadać jako OP i zobaczyć Twoje prywatne konwersacje.
    p Na stronie którą teraz widzisz pojawią się akcje moderatora dotyczące tego wyznania, oraz lista prywatnych wiadomości wysłanych do Ciebie. Jeśli chcesz odpowiadać jako OP,
    | lub spodziewasz się otrzymać prywatne wiadomości dodaj te strone do zakładek.
  .panel.panel-default
    .panel-heading
      |Wpis
      if confession.slug
        a(href=`http://hejto.pl/wpis/${confession.slug}` target="_blank")  #{confession.slug}
    .panel-body(style='white-space:pre-wrap;word-break: break-word;')
      |#{confession.text}
      if confession.survey
        hr
        h3 Ankieta
        ul
          li
            strong Pytanie: #{confession.survey.question}
            ul
              each answer, i in confession.survey.answers
                li #{answer}
      img(src=`${confession.embed}`).img-responsive
  h3 Akcje
  .list-group
    each action, index in confession.actions
      a.list-group-item
        p.list-group-item-text
        |#{action.action}
        if action.note
          b  #{action.note}
        |  #{action.time}
  h3 Konwersacje
  ul.list-group
    if confession.conversations.length
      each conversation, index in confession.conversations
          li.list-group-item
            a(href=`../../conversation/${conversation}/${confession.auth}`) #{conversation._id}
    else
      p Brak konwersacji do tego wyznania
block script
  script(type="text/javascript").
    var cid = '#{confession._id}';
    var auth = '#{confession.auth}';
    confessionList = [];
    if(localStorage.confessions)confessionList = JSON.parse(localStorage.confessions);
    for(var i in confessionList){
      if(confessionList[i]._id == cid){var found=true;break;}
    }
    if(!found)confessionList.push({_id: cid, auth: auth});
    localStorage.setItem('confessions', JSON.stringify(confessionList));
